.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--dsh-sidebar-inline-padding, 8px);
  color: var(--dsw-alias-label-primary);
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--dsw-alias-border-l2);
}

.title {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  color: var(--dsw-alias-label-secondary);
}
